* {
    border: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.pixel-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.pixel {
    display: block;
    border: 1px solid black;
}

.colored-pixel {
    background-color: black;
}

button {
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 6px;
}